{% extends "facefilter/layout.html" %}
{% load staticfiles %}

{% block content %}

  <a href="/" class="filterest-name">
    Back To Home
  </a>
  
  <div class="filterest-result-container">
    {% for commentary in object_list %}
      {% if commentary.finish_processing %}
        <a class="filterest-reviews" href="/commentating/{{commentary.yt_id}}">
          <b>
            {{commentary.title}}
          </b>
          <span>
            Youtube ID : {{commentary.yt_id}},
          </span>
          <span>
            Review : <span class="finished">Finished</span>
          </span>
        </a>
      {% else %}
        {% if commentary.error == "" %}
          <div class="filterest-reviews">
            <b>
              {{commentary.yt_id}}
            </b>
            <span>
              Review : <span class="processing">Still processing </span>
            </span>
            <img height="11" src="{% static 'facefilter/img/loading.gif' %}">
          </div>
        {% else %}
          <div class="filterest-reviews">
            <b>
              {{commentary.yt_id}}
            </b>
            <span>
              Review : <span class="error">Error reviewing</span>,
            </span>
            <span>
              Error : {{commentary.error}}
            </span>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}