  {% extends "facefilter/layout.html" %}
{% load staticfiles %}

{% block content %}
    <form id="uploadImageForm">
      {% csrf_token %}
      <input id="uploadImage" type="file" name="uploadImage">
      <input id="uploadImageButton" type="submit" name="uploadImageButton">
    </form>
    <a href="" class="filterest-name">
      
    </a>

    <a class="filterest-back-button" href="/">
      <i class="fas fa-arrow-left"></i>
    </a>

    <div class="filterest-title">
        <div class="filterest-image-preview">
          <div>
              <img id="uploadImageView" src="">
          </div>
          <h5 id="uploadImagePreviewTitle"></h5>
          <label class="filterest-file-input filterest-before-input" for="uploadImage" id="labelUploadImage">Click Me</label>
          <!-- <label class="filterest-button-submit" for="uploadImageButton">Submit</label> -->
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'facefilter/js/upload.js' %}"></script>
{% endblock %}