  {% extends "facefilter/layout.html" %}
{% load staticfiles %}

{% block content %}
    <a href="/commentary" class="filterest-name">
      Go To Commentary
    </a>
    <div class="filterest-title">
        {% csrf_token %}
        <img src="{% static 'facefilter/img/filterest.png' %}">
        <img src="{% static 'facefilter/img/filterest mascot.png' %}">
        <form id="uploadImageForm">
          <input id="uploadImage" type="file" name="param_1">
          <input type="submit">
        </form>
    </div>


    <script src="{% static 'facefilter/js/upload.js' %}"></script>
{% endblock %}