/*--------------------------- MAIN CSS ---------------------------*/
@font-face{
    font-family: Rubik;
    src: url(fonts/Rubik-Light.ttf);
    font-weight: 300;
}  
@font-face{
    font-family: Rubik;
    src: url(fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Rubik;
    src: url(fonts/Rubik-Bold.ttf);
    font-weight: 500;
}  
@font-face{
    font-family: Rubik;
    src: url(fonts/Rubik-Black.ttf);
    font-weight: 600;
}  
*{
    margin: 0;
    font-family: Rubik;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-drag: none;
}
i.fas{
    display: block;
    overflow: hidden;
}
.filterest-main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #FFDE03;
}
.filterest-name{
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 24pt;
    color: black;
    text-decoration: none;
}
.filterest-title{
    width: 100vw;
    min-height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/*--------------------------- INDEX CSS ---------------------------*/
.filterest-title > div#indexTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.filterest-title > div#indexTitle > h1{
    font-size: 56pt;
    transform: translateY(40px);
    z-index: 10;

    transition: all .3s cubic-bezier(.08,.02,.91,.19);

    cursor: pointer;
}
.filterest-title > div#indexTitle > a#goToUpload{
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 10px;

    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20pt;

    border-radius: 10px;
    background:#FF0266;
    
    transform: translateY(-40px);
    opacity: 0;

    transition: all .3s cubic-bezier(.08,.02,.91,.19);

    cursor: pointer;
}
div#indexTitle:hover > h1{
    transform: translateY(10px);
}
div#indexTitle:hover > a#goToUpload{
    transform: translateY(-10px);
    opacity: 1;
}

/*--------------------------- UPLOAD CSS ---------------------------*/
.filterest-title > img{
    margin: 10px;
}
.filterest-image-preview{
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
.filterest-image-preview-view{
    max-width: 500px;
    background: white;
}
.filterest-before-input{
    background: #0336FF;
    color: white;
    padding: 15px;
    border-radius: 25px 3px 3px 3px;
    cursor: pointer;
}
.filterest-image-preview > *{
    display: block;
    text-align: center;
}
.filterest-image-preview > div:nth-child(1){
    width: 100%;
    background: black;
}
.filterest-image-preview > div > img{
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}
#uploadImageView{
    display: block;
}
#uploadImageForm{
    display: none;
    position: absolute;
}
.filterest-upload-preview-title{
    font-weight: 500;
    font-size: 18pt;
    margin: 10px;
}
.filterest-file-input{
    display: block;
    font-size: 16pt;
    margin: 10px
}
.filterest-button-submit{
    display: block;
    background: #0336FF;
    color: white;

    font-size: 16pt;

    padding: 15px;
    margin: 10px;
    
    border-radius: 25px 3px 3px 3px;

    cursor: pointer;
}
.filterest-download-button{
    display: block;
    background: #0336FF;
    color: white;

    text-decoration: none;
    text-align: center;
    font-size: 14pt;

    padding: 8px;
    
    border: 2px solid white;
    border-radius: 100%;
    overflow: hidden;

    position: absolute;
    top: 15px;
    right: 15px;
}
.filterest-back-button{
    display: block;
    background: #FF0266;
    
    position: absolute;
    top: 0;
    left: 0;

    color :black;
    text-decoration: none;
    font-size: 20pt;

    padding: 20px;

    border-radius: 0 0 40% 0;
    cursor: pointer;
}

/*--------------------------- VIDEO CSS ---------------------------*/
.filterest-video-preview > div > video{
    max-width: 500px;
}
.filterest-video-preview{
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
.filterest-video-preview-view{
    max-width: 500px;
    background: white;
}
.filterest-video-preview > *{
    display: block;
    text-align: center;
}
.filterest-video-preview > div:nth-child(1){
    width: 100%;
    background: black;
}
.filterest-video-preview > div > img{
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}
#uploadVideoView{
    display: block;
}
#uploadVideoForm{
    display: none;
    position: absolute;
}